body {
  background-color: indigo;
}
div.container {
    background-color: whitesmoke;
}
div.well {
  background-color: papayawhip;
}
h1 {
  text-align: center;
  font-family: lucida sans unicode;
  color: indigo;
}
p {
  font-family: lucida sans unicode;
  font-size: 16px;
}
.videoPlace {
position: relative;
padding-bottom: 65.25%;
overflow: auto;
}
.videoPlace iframe {
position: absolute;
width: 100%;
height: 100%;
}
