ul {
  position: fixed;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: solid;
  border-bottom-color: grey;
  border-bottom-width: thin;
  background-color: white;
}

div.menuBar {
  background-color: white;
}

div.barItemsLeft li {
  float: left;
}

div.barItemsRight li {
  float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none:
    font-family: lucida sans unicode;
    font-size: 1.5em;
    color: black;
}

li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body {
  background-color: white;
}

div.zone {
    background-color: white;
    padding-bottom: 50px;
}

div.well {
  background-color: purple;
}

h1 {
  font-family: lucida sans unicode;
  font-size: 3em;
}

p {
  font-family: lucida sans unicode;
  font-size: 1.5em;
}

div.videoZone {
position: relative;
padding-bottom: 60%;
}

div.videoZone iframe {
position: absolute;
width: 100%;
height: 100%;
}
